<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        {{!-- Link for Bootstrap StyleSheet --}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {{!-- Link to Custom CSS StyleSheet --}}
        <link rel="stylesheet" href="/styles/styles.css">
        
        <title>Home Page</title>
        {{!-- Add Script Tags Here --}}
    </head>

    <body>
        {{{body}}}
    </body>
</html>