{{!-- Type HTML here that will go into the body tag of the main.handlebars --}}
<div class="container">
    <div class="row">
        <div class="col-md-4 left-background">
        </div>
        <div class="col-md-4 center-background">
            <div class="container">
                
            </div>
        </div>
    </div>
</div>