{{!-- Type HTML here that will go into the body tag of the main.handlebars --}}
<div class="container-fluid m-0">
    <div class="row">
        <div class="col-md-4 p-0 m-0">
            <img id="left-img" src="../images/working_out.jpg">
        </div>
        <div class="col-md-4 p-0 m-0">
            <img id="center-img" src="../images/tv_watching.jpg">
        </div>
        <div class="col-md-4 p-0 m-0">
            <img id="right-img" src="../images/office_work.jpg">
        </div>
    </div>
</div>