#left-img {
    height: 100%;
    width: 100%;
    opacity: .5;
}

#left-img:hover {
    opacity: 1;
}

#center-img {
    height: 100%;
    width: 100%;
}

#right-img {
    height: 100%;
    width: 100%;
    opacity: .5;
}

#right-img:hover {
    opacity: 1;
}